<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <form action="/monopoly/<%= monopoly["_id"] %>/edit">
        <ul>
            <% for( let i = 0; i < monopoly.properties.length; i++ ) { %>
                <% if(!(monopoly.properties[i].isPurchased)) { %>
                <button>
                    <%= monopoly.properties[i].name %>
                </button>
                <% } %>
            <% } %>~
        </ul>
    <br/>
    <input type="submit" name="" value="Submit Changes"/>
    </form>
</body>
</html>