<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Monopoly</h1>
    <ul>
        <% for(let i =0; i < monopoly.length; i++){ %>
            <div class="cardText">
                <a href="/monopoly/<%= monopoly[i]._id%>">
                    <button>
                    <%=monopoly[i].name%>
                </button>
                </a>
                <p>piece</p>
                <p>money</p>
                <p>properties</p>
                <% if(monopoly[i].properties.property !== null)  { %>
                <ul>
                <% for(let j =0; j < monopoly[i].properties.length; j++){ %>
                        <li>
                            <%=monopoly[i].properties[j].property.propName%>
                        </li>
                    <%}%>
                    </ul>
                <% } %>
            </div>
            <div class="editBtn">
                
            </div>
        <% } %>
    </ul>
</body>
</html>