.showBody{
    background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/23f5dbb9-09a4-4c61-be3c-5987d15ea802/d2732cw-0247236d-581b-4d69-aa25-97015ac3c94c.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.showBody h1 {
    font-family: fantasy;
    font-size: 80px;
}

.showDiv {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

ul {
    display: flex;
    flex-direction: column;
   
}

button{
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: black;
    width: 100px;
}

button a {
    text-decoration: none;
    color: black
}

li{
    list-style-type: none;
}

.index-container * {
    display: flex;
}

.index-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-title {
    font-size: 5vw;
}

.players-container {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.player-card {
    align-items: center;
    flex-direction: column;
    background-color: #BFDBAE;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    min-width: 150px;
    margin-bottom: auto;
    margin-top: 20px;
}

.player-card * {
    font-size: 2vw;
    list-style-type: none;
}

.name {
    width: 80%;
    justify-content: center;
    background-color: blue;
    padding: 10%;
}

.prop-list {
    flex-wrap: wrap;
    font-size: 100%;
}


.edit-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
    justify-content: stretch;
}

.edit-name * {
    font-size: 3vw;
}

.edit-piece * {
    font-size: 3vw;
}

.edit-ownedProps {
    font-size: 3vw;
}

.loaded-props {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
}

.loaded-props * {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    width: 15%;
    margin: 20px;
    font-weight:bolder;
    background-color:#BFDBAE;
}

.section_Brown {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: brown;
}

.section_Light-Blue {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: lightblue;
}

.section_Pink {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: pink;
}

.section_Orange {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: orange;
}

.section_Red {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: red;
}

.section_Yellow {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: yellow;
}

.section_Green {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: green;
}

.section_Blue {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: blue;
}

.section_RR {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: black;
}

.section_Utility {
    border-style: outset;
    border-radius: 8px;
    border-width: 5px;
    border-color: gray;
}